{
  "env": {
    "node": true,
    "es2020": true
  },
  "extends": [
    "@djthoms/eslint-config",
    "@djthoms/eslint-config/typescript",
    "@djthoms/eslint-config/vitest"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "@typescript-eslint/no-explicit-any": "warn",
    "@typescript-eslint/no-unsafe-return": "warn"
  }
}
